/*--------------------------------

LineIcons Web Font
Author: tajawal

-------------------------------- */
@font-face {
  font-family: 'tajawal';
  src: url('https://fonts.cdnfonts.com/s/15774/Tajawal-Regular.woff');
  font-weight: normal;
  font-style: normal;
}
